@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme {
  --font-christmas: var(--font-christmas);
}

/* @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
      }
      } */

body {
  background-image: url("/assets/img/background_image2.png");
  width: 100%;
  min-height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (width >= 1024px) {
  body {
    background-image: url("/assets/img/background_image.png");
    /* width: 100%;
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
  }
}
